# -------------------------
# DATABASE
# -------------------------
DB_NAME=Name
DB_USER=User
DB_PASS=Pass
DB_HOST=localhost
DB_PORT=5432

# -------------------------
# LLM SERVER
# -------------------------
# LLM server (bind)
LLM_BIND_HOST=0.0.0.0
LLM_BIND_PORT=8765

# Gateway connecting to LLM
LLM_CONNECT_HOST=127.0.0.1
LLM_CONNECT_PORT=8765

LLM_SMALL_PATH=D:\YourPath\assets\Qwen3-0.6B-Q4_K_M\Qwen3-0.6B-Q4_K_M.gguf
LLM_MEDIUM_PATH=D:\YourPath\assets\Qwen3-1.7B-Q8_0\Qwen3-1.7B-Q8_0.gguf
LLM_LARGE_PATH=D:\YourPath\assets\Qwen3-4B-Q8_0\Qwen3-4B-Q8_0.gguf

SYSTEM_PROMPT_FILE=C:\YourPath\data\system_prompt.txt

# -------------------------
# VOSK SERVER
# -------------------------
# Vosk server (bind)
VOSK_BIND_HOST=0.0.0.0
VOSK_BIND_PORT=2700

# Gateway connecting to Vosk
VOSK_CONNECT_HOST=127.0.0.1
VOSK_CONNECT_PORT=2700

VOSK_MODEL_PATH=C:\YourPath\servers\vosk-server\websocket\model\vosk-model-en-us-0.22
VOSK_SPK_MODEL_PATH=
VOSK_SAMPLE_RATE=16000
VOSK_ALTERNATIVES=0
VOSK_SHOW_WORDS=true

# -------------------------
# GATEWAY
# -------------------------
GATEWAY_BIND_HOST=0.0.0.0
GATEWAY_BIND_PORT=9000

# -------------------------
# ROBOT IP
# -------------------------
YOUR_ROBOT_IP=XXX.XXX.XXX.XXX

# -------------------------
# External Data
# -------------------------
GITHUB_TOKEN=token

OPEN_WEATHER_1DAY=http://api.openweathermap.org/data/2.5/weather
OPEN_WEATHER_5DAY=http://api.openweathermap.org/data/2.5/forecast
OPEN_WEATHER=token
DEFAULT_WEATHER_LAT=00.000000
DEFAULT_WEATHER_LONG=-00.000000

NEWSAPIDOTORG=token
NEWSAPIDOTCOM=token
NEWSAPI_API_KEY=your_token_here